<div class="m-5">
    <button class="btn btn-primary" (click)="this.getmayorTicketsCreados()">Mayor cantidad de tickets creados</button>
    <button class="btn btn-primary" style="margin-left: 12px" (click)="this.getclientesTodosLosPlanes()">Clientes con todos los planes</button>
    <button class="btn btn-primary" style="margin-left: 12px" (click)="this.getclientesMasCuatroTickets()">Clientes con mas de 4 tickets</button>
    <button class="btn btn-primary" style="margin-left: 12px" (click)="this.getsinContratarPackFull()">Clientes sin contratar pack full</button>
    <button class="btn btn-primary" style="margin-left: 12px" (click)="this.getsoloPackFull()">Clientes solo con pack full</button>
    <button class="btn btn-primary" style="margin-left: 12px" (click)="this.getmasDeCuota()">Clientes que pagan 4500 o mas de cuota</button>
    <button class="btn btn-primary" style="margin-top: 12px" (click)="this.getmenosDeCuota()">Clientes que pagan 4500 o menos de cuota</button>
    <button class="btn btn-primary" style="margin-left: 12px; margin-top: 12px;" (click)="this.getbuscarClienteNombreApellido()">Cliente con nombre Pedro Perez</button>
</div>

<div class="m-5">
  <button class="btn btn-warning" (click)="this.getmayorTicketsCreados()">Mayor cantidad de tickets atendidos</button>
  <button class="btn btn-warning" style="margin-left: 12px" (click)="this.getempleadosMasCuatroTickets()">Empleados con mas de cuatro tickets atendidos</button>
  <button class="btn btn-warning" style="margin-left: 12px" (click)="this.getsectorVentas()">Empleados sector ventas</button>
  <button class="btn btn-warning" style="margin-left: 12px" (click)="this.getempleadoMasCercano()">Empleado mas cercano</button>
</div>

<div class="m-5">
  <button class="btn btn-success" (click)="this.getconOnceCanales()">Planes con canales hasta el 11</button>
  <button class="btn btn-success" style="margin-left: 12px" (click)="this.gettieneCanales()">Planes con canales entre el 7 y el 17</button>
</div>

<div class="m-5">
  <button class="btn btn-danger" (click)="this.getticketSinResolver()">Clientes con tickets sin resolver</button>
  <button class="btn btn-danger" style="margin-left: 12px" (click)="this.getclienteYEmpleado()">Empleados y ademas clientes</button>
  <button class="btn btn-danger" style="margin-left: 12px" (click)="this.getticketsNoResueltos()">Tickets no resueltos</button>
  <button class="btn btn-danger" style="margin-left: 12px" (click)="this.getatencionOficinas()">Oficinas con mas atencion</button>
  <button class="btn btn-danger" style="margin-left: 12px" (click)="this.getticketsPorOficina()">Tickets de una oficina</button>
  <button class="btn btn-danger" style="margin-left: 12px" (click)="this.getbuscarNombre()">Buscar por nombre</button>
  <button class="btn btn-danger" style="margin-left: 12px" (click)="this.getbuscarDesperfecto()">Buscar desperfecto</button>
  <button class="btn btn-danger" style="margin-left: 12px" (click)="this.getbuscarResueltosUnPaso()">Buscar resueltos en un paso</button>
  <button class="btn btn-danger" style="margin-left: 12px" (click)="this.getbuscarBarrio()">Traer datos barrio</button>
</div>

<div class="m-5">
  <button class="btn btn-info" (click)="this.getBuscarLocalidad()">Buscar localidad por un punto ($geoIntersects)</button>
  <button class="btn btn-info" style="margin-left: 12px" (click)="this.getbuscarLocalidadCerca()">Buscar localidad cerca de un punto ($near)</button>
  <button class="btn btn-info" style="margin-left: 12px" (click)="this.buscarLocalidadPoligono()">Buscar localidad dentro de un poligono ($geoWithin)</button>

</div>

<div class="justify-content-end p-5 mt-5 m" *ngIf="this.mostrarClientes">
  <div class="card p-5 align-items-center m-4" style="height: 100%; width: 500px; float: left;"  *ngFor="let item of this.clientes">
    <p href="">id: {{item._id}}</p>
    <p href="">nombre: {{item.nombre}}</p>
    <p href="">apellido: {{item.apellido}}</p>
    <p href="" *ngIf="item.count != null">count: {{item.count}}</p>
    <p href="" *ngIf="item.ticketsCreados != null">ticketsCreados: {{item.ticketsCreados}}</p>
  </div>
</div>

<div class="justify-content-end p-5 mt-5 m" *ngIf="this.mostrarEmpleados">
  <div class="card p-5 align-items-center m-4" style="height: 100%; width: 500px; float: left;"  *ngFor="let item of this.empleados">
    <p href="">id: {{item._id}}</p>
    <p href="">nombre: {{item.nombre}}</p>
    <p href="">apellido: {{item.apellido}}</p>
    <p href="" *ngIf="item.area != null">area: {{item.area}}</p>
    <p href="" *ngIf="item.count != null">count: {{item.count}}</p>
  </div>
</div>

<div class="justify-content-end p-5 mt-5 m" *ngIf="this.mostrarPlanes">
  <div class="card p-5 align-items-center m-4" style="height: 100%; width: 500px; float: left;"  *ngFor="let item of this.planes">
    <p href="">id: {{item._id}}</p>
    <p href="">nombre: {{item.nombre}}</p>
    <p href="">canales: {{item.canales}}</p>
    <p href="">precio: {{item.precio}}</p>
  </div>
</div>

<div class="justify-content-end p-5 mt-5 m" *ngIf="this.mostrarTickets">
  <div class="card p-5 align-items-center m-4" style="height: 100%; width: 500px; float: left;"  *ngFor="let item of this.tickets">
    <p href="">id: {{item._id}}</p>
    <p href="" *ngIf="item.cliente != null">nombre: {{item.cliente.nombre}}</p>
    <p href="" *ngIf="item.cliente != null">apellido: {{item.cliente.apellido}}</p>
    <p href="" *ngIf="item.cliente != null">planes: {{item.cliente.planes}}</p>
    <p href="" *ngIf="item.cliente != null">ticketsCreados: {{item.cliente.ticketsCreados}}</p>
    <p href="" *ngIf="item.motivo != null">motivo: {{item.motivo}}</p>
    <p href="" *ngIf="item.localidad != null">localidad: {{item.localidad}}</p>
    <p href="" *ngIf="item.resuelto != null">resuelto: {{item.resuelto}}</p>
    <p href="" *ngIf="item.empleado != null">empleado: {{item.empleado}}</p>
    <p href="" *ngIf="item.fecha != null">fecha: {{item.fecha | date: 'dd/MM/yyyy'}}</p>
  </div>
</div>

<div class="justify-content-end p-5 mt-5 m" *ngIf="this.mostrarLocalidades">
  <div class="card p-5 align-items-center m-4" style="height: 100%; width: 500px; float: left;">
    <p href="">id: {{this.localidades._id}}</p>
    <p href="">nombre: {{this.localidades.nombre}}</p>
  </div>
</div>